* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}



.nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-direction: column;
}

.nav>.nav_item {
    margin-bottom: 5px;
}

.nav>.nav_item>.nav_link {
    display: block;
    font-weight: 500;
    color: #c2c7d0;
    padding: 10px 16px;
    border-radius: 4px;
    text-decoration: none;
}

.nav>.nav_item>.nav_link>.nav_icon {
    font-size: 20px;
    margin-right: 5px;
}

.nav>.nav_item>.nav_link>.nav_title {
    font-size: 16px;
}

.nav>.nav_item>.nav_link:hover {
    background-color: rgba(255, 255, 255, .1);
    color: #fff;
}

.nav>.nav_item>.nav_link.active {
    background-color: rgba(255, 255, 255, .9);
    color: #343a40;
}



.main_header>.navbar_nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-direction: row;
}



.content_wrapper>.content_header {
    padding: 1rem 1.5rem;
}

.content_wrapper>.content {
    padding: 0 1.5rem;
}

.user_panel a {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #c2c7d0;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    background: #343a40;
    box-shadow: 4px 4px 9px #2c3136,
        -4px -4px 9px #3c434a;
}

.user_panel a i {
    margin-right: 10px;
}

form {
    display: block;
    max-width: 1200px;
    padding: 1rem;
    box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

input,
textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
}

.edit_btn {
    display: block;
    background: lightblue;
    color: #000;
    padding: 10px 15px;
    text-decoration: none;
}

.btn_create {
    padding: 7px 14px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    line-height: 15px;
    display: inline-block;
    text-decoration: none;
    background-color: #0d6efd;
}

.btn_edit {
    padding: 7px 14px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    line-height: 15px;
    display: inline-block;
    text-decoration: none;
    background-color: #0d6efd;
}

.btn_destroy {
    display: inline-block;
}

.btn_destroy button {
    padding: 7px;
    border: none;
    color: #fff;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    line-height: 15px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    background-color: #dc3545;
}

table {
    width: 100%;
    border-radius: 10px;
}

table th {
    text-align: left;
}

table td {
    padding: 5px 0;
    border-bottom: 1px solid #adb5bd;
}

.main_sidebar {
    top: 0;
    width: 250px;
    height: 100vh;
    position: fixed;
    padding: 10px 5px;
    background-color: #293054;
    transition: all 0.25s ease-out;
}

.content_wrapper {
    margin-left: 250px;
    background-color: #EEF3F7;
    transition: all 0.3s ease-out;
}

.main_header {
    margin-left: 250px;
    box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    transition: all 0.3s ease-out;
}

.sidebar_mini .main_sidebar {
    width: 62px;
    transition: all 0.3s ease-out;
}

.sidebar_mini .content_wrapper,
.sidebar_mini .main_header {
    margin-left: 62px;
    transition: all 0.3s ease-out;
}

.sidebar_mini .nav>.nav_item>.nav_link>.nav_icon {
    margin-right: 0;
}

.sidebar_mini .nav_title {
    display: none;
}

@media(max-width: 992px) {
    .sidebar_mini .main_sidebar {
        
    }
}