@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --content-max-width: 1280px;
    --content-padding: 2rem;

    --navbar-navitem-color: #fff;
    --navbar-navitem-border-color: #6aa2af;
    --navbar-contact-icon-color: #6aa2af;
    --navbar-contact-color: #fff;

    --widget-border-color: #6aa2af;
    --widget-title-color: #fff;

    --articles-head-color: #fff;
    --article-title-color: #fff;
    --article-hr-color: #fff;
    --article-bg-color: #77b0ff;
    --article-btn-bg-color: #ff9c00;
    --article-btn-color: #000;

    --about-border-color: #fff;
    --about-bg-color: #040410;
    --about--title-color: #5b95e9;
    --about--shortdesc-color: #fff;
    --about--btn-bg-color: #ff9c00;
    --about--btn-color: #000;

    --images-border-color: #78b1ff;
    --images-chevron-color: #000;
    --images-chevron-bg-color: #ffde41;

    --footer-bg-color: #78b1ff;
    --footer-title-color: #000;
    --footer-triangle-color: #7bc6cb;
    --footer-contact-color: #000;
    --footer-socialnetwork-bg-color: #000;
    --footer-socialnetwork-color: #fff;
    --footer-socialnetwork-hover-bg-color: #ff9c00;
    --footer-socialnetwork-hover-color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    background-image: url('https://9planeta.cruiselines.pro/img/BlueSkyTheme.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

body.modal-open {
    overflow: hidden;
    padding-right: 17px;
    transition: overflow 0.3s ease;
}

.header .nav {
    padding: 1rem;
}

.header .nav .navbar {
    max-width: var(--content-max-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .nav .navbar .navbar-toggler {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    outline: 1px solid var(--navbar-contact-icon-color);
    padding: 5px;
    border-radius: 6px;
    stroke: var(--navbar-contact-icon-color);
}

.header .nav .navbar .navbar-toggler svg {
    display: block;
}

.header .nav .navbar .navbar-phone {
    display: none;
}

.header .nav .navbar .navbar-phone a {
    color: var(--navbar-contact-icon-color);
}

.header .nav .navbar .navbar-collapse .navbar-nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.header .nav .navbar .navbar-collapse .navbar-nav .nav-item {
    list-style-type: none;
    text-align: center;
    padding: 0.5rem;
}

.header .nav .navbar .navbar-collapse .navbar-nav .nav-item a {
    padding: 8px 15px;
    display: block;
    text-align: center;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 20px;
    font-weight: 500;
    color: var(--navbar-navitem-color);
}

.header .nav .navbar .navbar-collapse .navbar-nav .nav-item a:hover {
    border-color: var(--navbar-navitem-border-color);
    transition: 0.2s ease;
}

.header .nav .navbar .navbar-contacts {
    display: flex;
    flex-direction: column;
}

.header .nav .navbar .navbar-contacts a {
    display: block;
    padding: 3px 0;
    text-decoration: none;
    white-space: nowrap;
    color: var(--navbar-contact-color);
    display: flex;
    gap: 5px;
}

.header .nav .navbar .navbar-contacts a .navbar-contacts-icon {
    fill: var(--navbar-contact-icon-color);
}

.content {
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding: var(--content-padding);
    display: grid;
    align-items: start;
    grid-template-areas:
        "w w w w w n n"
        "a a a a a a a"
        "i i i i i i i";
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
}

.content .widget_wrapper {
    grid-area: w;
    padding: 1.5rem 0.5rem;
    margin-top: 37px;
    background-color: rgba(0, 0, 0, 0.3);
    border-width: 15px;
    border-style: solid;
    border-color: var(--widget-border-color);

}

.content .widget_wrapper .widget_title {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--widget-title-color);
    fill: var(--widget-title-color);
    user-select: none;
}

.content .articles_wrapper {
    grid-area: n;
}

.articles_wrapper_head {
    font-size: 24px;
    line-height: 37px;
    color: var(--articles-head-color);
}

.content .articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.content .articles .article {
    background-color: var(--article-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content .articles .article .article_head {
    position: relative;
    min-height: 35px;
}

.content .articles .article .article_head .article_date {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    text-shadow: 1px 1px 2px black;
    font-weight: 500;
}

.content .articles .article .article_head img {
    display: block;
    width: 100%;
}

.content .articles .article .article_title {
    text-align: center;
    font-weight: 500;
    padding: 1rem;
    color: var(--article-title-color);
}

.content .articles .article .article_hr {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: var(--article-hr-color);
}

.content .articles .article .article_bottom {
    padding: 1rem 0.5rem;
    display: flex;
}

.content .articles .article .article_bottom .article_btn {
    user-select: none;
    margin: 0 auto;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    border-radius: 20px;
    padding: .375rem .75rem;
    background-color: var(--article-btn-bg-color);
    color: var(--article-btn-color);
}

.content .about_wrapper {
    grid-area: a;
    padding: 24px 36px;
    border-width: 15px;
    border-style: solid;
    border-color: var(--about-border-color);
    background-color: var(--about-bg-color);
}

.content .about_wrapper .about_title {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color: var(--about--title-color);
}

.content .about_wrapper .about_short_description {
    line-height: 24px;
    padding: 16px 0;
    color: var(--about--shortdesc-color);
}

.content .about_wrapper .about_bottom {
    display: flex;
}

.content .about_wrapper .about_bottom .about_btn {
    padding: .375rem .75rem;
    margin: 0 auto;
    border-radius: 20px;
    line-height: 24px;
    background-color: var(--about--btn-bg-color);
    color: var(--about--btn-color);
}

.images_container {
    grid-area: i;
    overflow: hidden;
    position: relative;
}

.images_container .images_wrapper .images {
    display: flex;
}

.images_container .images_wrapper .images .image {
    display: block;
    height: 200px;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    border-width: 15px;
    border-style: solid;
    border-color: var(--images-border-color);
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.images_container .images_wrapper .images .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: url('/icons/Search.png');
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: 0.3s;
    z-index: 100;
}

.images_container .images_wrapper .images .image:hover::before {
    opacity: 1;
}

/* .images_container .images_wrapper .images .image img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
} */

.images-button {
    user-select: none;
    position: absolute;
    top: 50%;
    z-index: 1;
    border: none;
    font-size: 16px;
    padding: 20px;
    cursor: pointer;
    border-radius: 50%;
    fill: var(--images-chevron-color);
    background-color: var(--images-chevron-bg-color);
}

.images-button svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.images-button.images-button-prev {
    left: 0;
    transform: translateY(-50%);
}

.images-button.images-button-next {
    right: 0;
    transform: translateY(-50%);
}

.modal_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 100;
    padding: 0 0.5rem;
}

.show.modal_wrapper {
    opacity: 1;
}

.modal {
    background-color: #fff;
    margin: 1.75rem auto;
    max-width: 800px;
    transform: translateY(-50px);
    border-radius: 6px;
}

.show.modal_wrapper .modal {
    transform: translateY(0);
}

.modal li {
    list-style-position: inside;
}

.modal .modal_header,
.modal .modal_body {
    padding: 1rem;
}

.modal .modal_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;
}

.modal .modal_header .modal_title {
    font-size: 20px;
    font-weight: 500;
    color: #212529;
    line-height: 1.5;
}

.modal .modal_header .btn_close {
    cursor: pointer;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #000;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: 0.25rem;
    opacity: .5;
}

.modal_btn {
    cursor: pointer;
}

.footer_wrapper {
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding: var(--content-padding);
    padding-top: 0;
}

.footer {
    padding: 3rem 6rem;
    background-color: var(--footer-bg-color);
    position: relative;
}

.footer #footer-triangle {
    position: absolute;
    left: 35px;
    top: 50%;
    transform: translateY(-50%);
    stroke: var(--footer-triangle-color)
}

.footer .footer_title {
    font-size: 28px;
    color: var(--footer-title-color);
}

.footer .footer_logotype {
    padding: 8px 0;
}

.footer .footer_contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.footer .footer_contacts .footer_contact {
    display: block;
    text-decoration: none;
    color: var(--footer-contact-color);
    fill: var(--footer-contact-color);
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer .footer_contacts .footer_contact.contact_phone .footer-contact-value {
    font-size: 22px;
    font-weight: 500;
}

.footer .footer_contacts .footer_contact .social_networks {
    display: flex;
    gap: 5px;
}

.footer .footer_contacts .footer_contact .social_networks .social_network {
    position: relative;
    display: block;
    text-decoration: none;
    width: 42px;
    height: 42px;
    background-color: var(--footer-socialnetwork-bg-color);
    fill: var(--footer-socialnetwork-color);
    color: var(--footer-socialnetwork-color);
    transition: 0.2s;
    display: flex;
}

.footer .footer_contacts .footer_contact .social_networks .social_network:hover {
    background-color: var(--footer-socialnetwork-hover-bg-color);
    fill: var(--footer-socialnetwork-hover-color);
    color: var(--footer-socialnetwork-hover-color);
}

.footer .footer_contacts .footer_contact .social_networks .social_network .social_network_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    font-size: 16px;
}

@media(max-width: 1100px) {
    .content {
        grid-template-areas:
            "w"
            "n"
            "a"
            "i";
        grid-template-columns: 1fr;
        padding: 1rem;
    }

    .footer_wrapper {
        padding: 0 1rem 1rem 1rem;
    }

    .content .articles {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(max-width: 992px) {
    .footer_wrapper {
        padding: 0;
    }

    .content .articles {
        grid-template-columns: repeat(3, 1fr);
    }

    .header .nav .navbar {
        flex-wrap: wrap;
    }

    .header .nav .navbar .navbar-toggler {
        display: block;
    }



    .header .nav .navbar .navbar-collapse {
        width: 100%;
        display: none;
    }

    .header .nav .navbar .navbar-collapse.show {
        display: block;
    }

    .header .nav .navbar .navbar-collapse .navbar-nav {
        flex-direction: column;
        align-items: start;
    }

    .header .nav .navbar .navbar-collapse .navbar-nav .nav-item {
        padding-left: 0;
    }

    .header .nav .navbar .navbar-phone {
        display: block;
    }

    .header .nav .navbar .navbar-contacts {
        display: none;
    }
}

@media(max-width: 768px) {
    .content .articles {
        grid-template-columns: repeat(2, 1fr);
    }

    body.modal-open {
        padding-right: 0;
    }

    .footer_wrapper .footer {
        padding: 1.5rem;
    }

    .footer_wrapper .footer #footer-triangle {
        display: none;
    }

}

@media(max-width: 460px) {
    .content .articles {
        grid-template-columns: repeat(1, 1fr);
    }
}